WinForm_C2CStore/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SGU_C2CStore.Services.Identity" elementFormDefault="qualified" targetNamespace="SGU_C2CStore.Services.Identity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sgudaugia.azurewebsites.net/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" />
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetAllUserResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>