WinForm_C2CStore/Service References/AuctionService/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50279/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="item" nillable="true" type="q1:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetWinnerResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAuctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetMyAuctionsResult" nillable="true" type="q3:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidsOfAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidsOfAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetBidsOfAuctionResult" nillable="true" type="q4:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAuctionsWithStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="status" type="q5:AuctionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAuctionsWithStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetMyAuctionsWithStatusResult" nillable="true" type="q6:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactToWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactToWinnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactToOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactToOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetAllAutionsResult" nillable="true" type="q7:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="autionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBestBidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetAuctionResult" nillable="true" type="q8:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetOpenAuctionsResult" nillable="true" type="q9:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPriceAuctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopPriceAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetTopPriceAuctionsResult" nillable="true" type="q10:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopBidAuctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopBidAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetTopBidAuctionsResult" nillable="true" type="q11:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctionsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctionsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetOpenAuctionsByCategoryResult" nillable="true" type="q12:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctionsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAuctionsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetOpenAuctionsByUserResult" nillable="true" type="q13:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyWonAuctionsHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyWonAuctionsHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetMyWonAuctionsHistoryResult" nillable="true" type="q14:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyBidHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyBidHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetMyBidHistoryResult" nillable="true" type="q15:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyBidHistoryByItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyBidHistoryByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetMyBidHistoryByItemResult" nillable="true" type="q16:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGU_C2CStore.Services.Models" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q17:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autionId" type="xs:int" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>